<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre mi</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet lectus augue, et sollicitudin metus placerat nec. Ut feugiat orci in finibus viverra. Nunc vehicula, massa nec auctor sagittis, massa nulla pretium augue, id condimentum sapien nisi ut dui. Etiam eu faucibus velit. Nulla pharetra ipsum nulla, lobortis malesuada libero tristique sit amet. Duis quis augue felis. Praesent dignissim dui elit, id ultricies erat sollicitudin non. Aliquam nisi ligula, accumsan sed sagittis a, fringilla in magna. Sed viverra tempus venenatis. Nunc sit amet viverra magna, in ornare quam. Sed accumsan in dui vel tincidunt. Aliquam molestie mi eget turpis ultrices condimentum. 
	</p>
</article>
